*.js.map
*.log
!index.d.ts
node_modules
.idea/
*.DS_Store
*metadata.json
demo/platforms
demo/hooks
demo-ng/platforms
demo-ng/hooks
demo-ng/src/**/*.js
src/*.js
src/angular/*.js
src/platforms/android/nativescript_radiobutton.aar